.DS_Store
*.pyc
*/__pycache__
__pycache__
.idea/*
.vscode/launch.json
.vscode/settings.json
src/*/
benchmark/*/
example/dev
tests/test_data/setup.toml
.coverage
.vscode/*
tests/dummy_f
tests/test_data/clustering/*.contacts
